@charset "utf-8";
/* CSS Document */

html, body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
}
.container {
    height: 100%;
    position: relative;
    color: white;
}
#map {
    bottom: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0px;
    z-index: 1;
}
#options-box {
    height: 20%;
    padding: 0;
    margin: 0;
    background: black;
    line-height: 2em;
    text-align: left;
    width: 20rem;
    z-index: 2;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: .8rem;
}
h1 {
    font-size: 1.8rem;
    text-align: center;
    margin: .5rem 0;
    padding: 0 auto;
}
#options-selectors {
    margin: 0 auto;
    width: 15rem;
}
#cuisine-text {
    margin: 0;
    padding: 0;
}
#list-box {
    -webkit-overflow-scrolling: touch;
    max-height: 80%;
    overflow: auto;
    padding: 0;
    margin: 0;
    background: black;
    line-height: 35px;
    text-align: left;
    width: 20rem;
    z-index: 3;
    position: absolute;
    left: 0px;
    top: 20%;
}
#restaurant-list {
    padding: 0;
    margin: 0;
}
#restaurant-list li {
    height: 3rem;
    list-style: none;
    line-height: 3rem;
    border-bottom: 1px solid gray;
    padding-left: 1em;
    overflow: hidden;
    font-size: 1.25rem;
}
#restaurant-list li:first-child {
    border-top: 1px solid gray;
}
.infoWindow p {
    color: black;
}
.infoWindow p:first-child {
    font-size: 1.5em;
    font-weight: bold;
}
.selected {
    background-color: crimson;
}
